<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/style/css/home.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    </head>

    <body>
        <main class="home">
            <div class="container__itp">
                <!-- navigation -->
                <div class="home__banner">
                    <div class="wrap__medsos d-flex mx-auto">
                        <div class="content__medsos position-relative">
                            <div class="item__medsos d-flex flex-row position-absolute">
                                <div>
                                    <img src="../assets/image/icon/png.png" alt="">
                                </div>
                                <div>
                                    <img src="../assets/image/icon/ig.png" alt="">
                                </div>
                                <div>
                                    <img src="../assets/image/icon/wa.png" alt="">
                                </div>
                            </div>
                            <span class="text__medsos">Follow us on our social media for the latest updates.</span>
                        </div>
                    </div>
                </div>
                <div class="navigation w-100">
                    <div class="wrap__navigation d-flex mx-auto w-auto justify-content-between align-items-center">
                        <div>
                            <img src="../assets/image/icon/tip_brand.png" alt="">
                        </div>
                        <div>
                            <div class="item__navigation">
                                <ul>
                                    <li>Home</li>
                                    <li>About Us</li>
                                    <li>Our Works</li>
                                    <li>Free service</li>
                                    <li>Our Team</li>
                                    <li>Let's Connect</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- navigation -->
            <!-- banner -->
            <div class="banner">
                <div class="carousel">
                    <div class="item position-relative">
                        <div
                            class="wrap-info-text position-absolute d-flex text-center align-items-center mx-auto justify-content-center">
                            <div class="info-text d-flex flex-row justify-content-between">
                                <div class="col-6 text-left">Make Your Interior More Minimaistic & Modern
                                    <br>
                                    <p class="pt-5">
                                        Everything you need about finding your place to live will be here, where it
                                        will be easier for you
                                    </p>
                                </div>
                            </div>
                        </div>
                        <img src="../assets/image/bg__banner.png" alt="">
                    </div>
                    <div class="item">
                        <img src="../assets/image/bg__banner_1.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- banner -->
            <!-- residence info -->
            <div class="container__itp">
                <div class="residence_info">
                    <div>
                        <img src="../assets/image/bg_residence.png" alt="" srcset="">

                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <span class="title">Residential</span>
                            <p>
                                What started as a humble design practice in 1999 has now become a well-established and
                                venerated interior design company
                                in Singapore. The Interior Place has found its sweet spot in the industry as a boutique
                                interior design company,
                                offering design consultancy as well as design-and-build services to its clients on both
                                residential and commercial
                                products. Of late, the company has had commissions on larger landed property projects.
                                Regardless of project scale,
                                Wayne and Candy’s hands-on approach to the projects they take on reveals their
                                understanding
                                of the personal nature of
                                design.
                            </p>
                        </div>
                        <div>
                            <button>
                                <span>
                                    See More
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="residence_info" style="grid-template-columns: 4fr 6fr;">
                    <div class="">
                        <span class="title">We Create The Art Of Stylish Living Stylishly</span>
                        <p>
                            We are ready to help you build and also realize the room design that you dream of, with our
                            experts and also the best
                            category recommendations from us
                        </p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                    <td><span>featured</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                    <td><span>residential</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                    <td><span>commercial</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                    <td><span>
                                            commercial
                                        </span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="left-side">
                        <img src="../assets/image/bg_residence.png" alt="" srcset="">
                        <div class="d-flex flex-column flex-start align-items-start pt-3">
                            <span class="categories">Commercial</span>
                            <span class="title text-uppercase">JBM Coffe & Dinning</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- residence info -->
            <!-- featured project -->
            <section class="featured_project">
                <div class="container__itp text-center">
                    <h4>Featured Project</h4>
                </div>
                <div class="banner">
                    <div class="carousel-project">
                        <div class="item position-relative">
                            <div class="box">
                                <div class="img" style="background: url(../assets/image/bg__banner_1.jpg);">
                                </div>
                                <div class="desc d-flex flex-column">
                                    <span class="categories">Featured</span>
                                    <span class="text-uppercase title">CHENG SOON LANE</span>
                                </div>
                            </div>
                        </div>
                        <div class="item position-relative">
                            <div class="box">
                                <div class="img" style="background: url(../assets/image/bg__banner_1.jpg);">
                                </div>
                                <div class="desc d-flex flex-column">
                                    <span class="categories">Featured</span>
                                    <span class="text-uppercase title">CHENG SOON LANE</span>
                                </div>
                            </div>
                        </div>
                        <div class="item position-relative">
                            <div class="box">
                                <div class="img" style="background: url(../assets/image/bg__banner_1.jpg);">
                                </div>
                                <div class="desc d-flex flex-column">
                                    <span class="categories">Featured</span>
                                    <span class="text-uppercase title">CHENG SOON LANE</span>
                                </div>
                            </div>
                        </div>
                        <div class="item position-relative">
                            <div class="box">
                                <div class="img" style="background: url(../assets/image/bg__banner_1.jpg);">
                                </div>
                                <div class="desc d-flex flex-column">
                                    <span class="categories">Featured</span>
                                    <span class="text-uppercase title">CHENG SOON LANE</span>
                                </div>
                            </div>
                        </div>
                        <div class="item position-relative">
                            <div class="box">
                                <div class="img" style="background: url(../assets/image/bg__banner_1.jpg);">
                                </div>
                                <div class="desc d-flex flex-column">
                                    <span class="categories">Featured</span>
                                    <span class="text-uppercase title">CHENG SOON LANE</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- featured project -->
            <!-- awards -->
            <section id="awards" class="pb-5 mb-5">
                <div class="container__itp text-center pb-5">
                    <h4>Awards</h4>
                    <span class="see_awards">
                        See all awards <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39"
                            viewBox="0 0 39 39" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.74996 19.4998C9.74996 19.1766 9.87837 18.8666 10.1069 18.638C10.3355 18.4095 10.6455 18.2811 10.9687 18.2811H25.0891L19.8558 13.0502C19.627 12.8214 19.4984 12.511 19.4984 12.1873C19.4984 11.8637 19.627 11.5533 19.8558 11.3245C20.0847 11.0956 20.3951 10.967 20.7187 10.967C21.0424 10.967 21.3527 11.0956 21.5816 11.3245L28.8941 18.637C29.0076 18.7502 29.0976 18.8847 29.1591 19.0327C29.2205 19.1808 29.2521 19.3395 29.2521 19.4998C29.2521 19.6601 29.2205 19.8189 29.1591 19.9669C29.0976 20.115 29.0076 20.2495 28.8941 20.3627L21.5816 27.6752C21.3527 27.9041 21.0424 28.0326 20.7187 28.0326C20.3951 28.0326 20.0847 27.9041 19.8558 27.6752C19.627 27.4464 19.4984 27.136 19.4984 26.8123C19.4984 26.4887 19.627 26.1783 19.8558 25.9495L25.0891 20.7186H10.9687C10.6455 20.7186 10.3355 20.5902 10.1069 20.3616C9.87837 20.1331 9.74996 19.8231 9.74996 19.4998Z"
                                fill="#4F4F4F" />
                        </svg>
                    </span>
                </div>
                <div class="container__itp awards">
                    <div class="awards__item">
                        <div class="item_content d-flex flex-column justify-content-between h-100">
                            <div class="d-flex text-center align-items-center mx-auto">
                                <img src="../assets/image/awards_item.png" alt="">
                            </div>
                            <div class="text-center">
                                <span>
                                    The Best Of Houzz Design
                                    in 2017
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="awards__item">
                        <div class="item_content d-flex flex-column justify-content-between h-100">
                            <div class="d-flex text-center align-items-center mx-auto">
                                <img src="../assets/image/awards_item.png" alt="">
                            </div>
                            <div class="text-center">
                                <span>
                                    The Best Of Houzz Design
                                    in 2017
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="awards__item">
                        <div class="item_content d-flex flex-column justify-content-between h-100">
                            <div class="d-flex text-center align-items-center mx-auto">
                                <img src="../assets/image/awards_item.png" alt="">
                            </div>
                            <div class="text-center">
                                <span>
                                    The Best Of Houzz Design
                                    in 2017
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="awards__item">
                        <div class="item_content d-flex flex-column justify-content-between h-100">
                            <div class="d-flex text-center align-items-center mx-auto">
                                <img src="..../assets/image/awards_item.png" alt="">
                            </div>
                            <div class="text-center">
                                <span>
                                    The Best Of Houzz Design
                                    in 2017
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="awards__item">
                        <div class="item_content d-flex flex-column justify-content-between h-100">
                            <div class="d-flex text-center align-items-center mx-auto">
                                <img src="..../assets/image/awards_item.png" alt="">
                            </div>
                            <div class="text-center">
                                <span>
                                    The Best Of Houzz Design
                                    in 2017
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- awards -->
            <!-- concept -->
            <section class="concept container__itp">
                <div class="concept_item" style="background-image: url(..../assets/image/bg__banner.png);">
                </div>
                <div class="concept_item" style="background-image: url(..../assets/image/bg__banner.png);">
                </div>
                <div class="concept_item" style="background-image: url(..../assets/image/bg__banner.png);">
                </div>
                <div class="concept_item" style="background-image: url(..../assets/image/bg__banner.png);">
                </div>
            </section>
            <!-- concept -->
            <!-- footer -->
            <footer>
                <div class="footer">
                    <div class="wrap__footer">
                        <div class="icon_tip">
                            <img src="..../assets/image/icon/tip_brand.png" alt="" srcset="">
                        </div>
                        <div class="newsletter">
                            <div class="title text-uppercase">join us newsletter</div>
                            <div class="pt-3 mini-info">Subscribe to receive news and promotional offers!</div>
                            <div class="pt-2">
                                <div class="box-subscribe">
                                    <div>
                                        <p class="placeholder_email p-0 m-0">Enter your email</p>
                                    </div>
                                    <div>
                                        <button>
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info d-flex flex-row justify-content-between">
                            <div class="info-wrap">
                                <div class="title text-uppercase">site</div>
                                <div class=" text-capitalize pt-4">
                                    <ul class="m-0 p-0">
                                        <li>
                                            <a href="">About Us</a>
                                        </li>
                                        <li class="pt-2">
                                            <a href="">Articles</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info-wrap">
                                <div class="title text-uppercase">customer service</div>
                                <div class=" text-capitalize pt-4">
                                    <ul class="m-0 p-0">
                                        <li>
                                            <a href="">Let's Connect</a>
                                        </li>
                                        <li class="pt-2">
                                            <a href="">Privacy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info-wrap">
                                <div class="title text-uppercase">Address</div>
                                <div class=" text-capitalize pt-4">
                                    <ul class="m-0 p-0">
                                        <li>
                                            <a href="">579 Balestier Road Singapore 329894
                                                Phone +65 6292 9882</a>
                                        </li>
                                        <li class="pt-2">
                                            <a href="">enquiry@theinteriorplace.com.sg</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer -->
        </main>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $(document).ready(function () {
                $(".carousel").slick({
                    dots: true, // Show navigation dots
                    infinite: true, // Infinite loop
                    autoplay: false, // Autoplay the carousel
                    autoplaySpeed: 3000 // Autoplay interval in milliseconds
                });
            });
            $(document).ready(function () {
                $(".carousel-project").slick({
                    dots: true, // Show navigation dots
                    infinite: true, // Infinite loop
                    autoplay: false, // Autoplay the carousel
                    autoplaySpeed: 3000, // Autoplay interval in milliseconds
                    slidesToShow: 4,
                    slidesToScroll: 4
                });
            });
        </script>
    </body>

</html>
<!-- sdf -->
